* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.major{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient( #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0.1px;
}

.menu a{
    color: yellow;
    margin: 10px;
    position: absolute;
    left: 0;
    top: 10px;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 5, 0.7);
}

form .title{
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;    
}


form label{
    margin-bottom: 35px;
}

.menu {
    position: fixed;
   left: 10px;
   display: block;
   top: 15px;
}

form label .bx .bxs-lock-alt{
    font-size: 50px;
    color: black;
    margin-right: 10px;
}

form label .bx .bxs-user{
    font-size: 50px;
    color: black;
    margin-right: 10px;
}

form label input{
    outline: none;
    border: none;
    columns: #252525;
    border-bottom: solid 1px black;
    padding: 0 5px;
    font-size: 18px;
}

form label input::placeholder{
    color: rgba(37, 37, 37, 0.5);
}

form .link{
    color: #252525;
    margin-bottom: 15px;
}

form button{
    color: #fff;
    border: none;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0.1px;
    cursor: pointer;
    font-size: 30px;
}
